<!doctype html>
<html lang="en">
<head>
	{% include 'header.html' %}

	<script type="text/javascript">
	    $(document).ready(function(){

	    // Javascript method's body can be found in assets/js/demos.js
	        demo.initDashboardPageCharts();

	        // REFRESH: 1 minute
	         /*function refresh() {
	                 window.location.reload(true);
	         }
	         setTimeout(refresh, 60000);*/

	         // REFRESH snapshot: 5 secondes
	         /*function refresh_snap() {
	                 $("#snapshot").attr("src", $("#snapshot").attr("src").split('?')[0]+"?" + new Date().getTime());
	         }
	         setInterval(refresh_snap, 3500);*/

					 // ORDER Clik
	         $('#clicclac').on('click',function() {
	           $.ajax({ url: '/clik/1',
	             success: function(data) {
	               if (data == 'OK') console.log('clik');
	             }
	           });
	         });

					 // WAIT for news
					 function newspoll() {
						 $.ajax({ url: '/news',
	             success: function(data) {
	               if (data != 'NOTHING') {
	                 console.log(data)
	                 $("#snapshot").attr("src", data+"?"+new Date().getTime());
	               }
								 else console.log('No News..');
	             },
							 complete: newspoll
	           });
					 }
					 newspoll();

	    });
	</script>
</head>
<body>
	<div class="wrapper">
		{% include 'sidebar.html' %}

		<div class="main-panel">
			{% include 'navbar.html' %}

			<div class="content">

				<div class="container-fluid">
					<div class="row">

						<div class="col-lg-4 col-md-12 col-sm-12">
							<div class="card card-stats">
								<div class="card-header" data-background-color="purple" id="clicclac">
									<i class="material-icons">linked_camera</i>
								</div>
								<div class="card-content">
									<p class="category">Snapshot</p>
									<br /><br />
									<img id="snapshot" src="/static/upload/snapshot.jpg" />
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">update</i> {{image.updated}}
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="orange">
									<i class="material-icons">cloud_circle</i>
								</div>
								<div class="card-content">
									<p class="category">Temperature</p>
									<h3 class="title">{{temp.value}}<small>°C</small></h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">update</i> {{temp.updated}}
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="green">
									<i class="material-icons">grain</i>
								</div>
								<div class="card-content">
									<p class="category">Humidité</p>
									<h3 class="title">{{humi.value}}<small>%</small></h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">update</i> {{humi.updated}}
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="material-icons">volume_up</i>
								</div>
								<div class="card-content">
									<p class="category">Bruit</p>
									<h3 class="title">{{noise.value}}<small>dB</small></h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">update</i> {{noise.updated}}
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="blue">
									<i class="material-icons">brightness_medium</i>
								</div>
								<div class="card-content">
									<p class="category">Luminosité</p>
									<h3 class="title">{{light.value}}<small>Lux</small></h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">update</i> {{light.updated}}
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
	</div>
</body>
</html>
