<script>
    const beehives = [];

    let beehive, formatedDate;
    {% for beehive in beehives %}
    beehive = [];
    {% for datum in beehive %}
    formatedDate = '{{datum[ "date" ]}}';
    if( formatedDate.split( '-' ).length > 1 ){
        let tmp = formatedDate.split( ' ' );
        let tmp2 = tmp[ 0 ].split( '-' );
        formatedDate = tmp2[ 2 ] + '/' + tmp2[ 1 ] + '/' + tmp2[ 0 ] + ' ' + tmp[ 1 ];
    }
    beehive.push( {
        date: formatedDate,
        sensors: {{datum[ "sensors" ]}},
        gif: '{{datum[ "gif" ]}}'
    } );
    {% endfor %}
    beehives.push( beehive );
    {% endfor %}

    console.log( beehives );
</script>
