<script>
window.addEventListener( 'load', () => {
    const beehives = [];

    let beehive;
    {% for beehive in beehives %}
    beehive = []
    {% for datum in beehive %}
    beehive.push( {
        date: '{{datum[ "date" ]}}',
        sensors: {{datum[ "sensors" ]}},
        gif: '{{datum[ "gif" ]}}'
    } );
    {% endfor %}
    beehives.push( beehive );
    {% endfor %}

    // console.log( beehives );

    const indexes = new Array( beehives.length ).fill( 0 );

    beehives.forEach( ( bh, i ) => {
        let div = document.querySelector( '#beehive' + i );

        let h3 = document.createElement( 'h3' );
        h3.innerText = 'Beehive #' + i;
        h3.classList.add( 'deep-orange-text' );
        h3.classList.add( 'text-darken-2' )
        div.appendChild( h3 );

        let date = document.createElement( 'p' );
        date.classList.add( 'last-update' )
        date.innerText =  `Last update: ${bh[ 0 ].date}`;
        div.appendChild( date );

        div.appendChild( document.createElement( 'hr' ) );

        let svg = d3.select( div ).append( 'svg' );
        // console.log( svg );
        svg.attr( "width", div.style.width );
        svg.attr( "height", '300px' );

        div.appendChild( document.createElement( 'hr' ) );

        let grid = document.createElement( 'div' );
        grid.classList.add( 'row' );
        div.appendChild( grid );

        bh.forEach( ( d, i ) => {
            let tmp = `<div class="col s12 m6 l4"><div class="card hoverable"><div class="card-image">`;
            tmp += i < 6 ?
                `<img class="materialboxed" data-caption="${d.date} light: ${d.sensors.light} | temperature: ${d.sensors.temp} | noise: ${d.sensors.noise} | humidity: ${d.sensors.hum} | co: ${d.sensors.co} | no2: ${d.sensors.no2}" src="${d.gif || 'http://placehold.it/800x533/000000/000000?text=Night'}">` :
                `<img class="lazy materialboxed" data-caption="${d.date} light: ${d.sensors.light} | temperature: ${d.sensors.temp} | noise: ${d.sensors.noise} | humidity: ${d.sensors.hum} | co: ${d.sensors.co} | no2: ${d.sensors.no2}" data-original="${d.gif || 'http://placehold.it/800x533/000000/000000?text=Night'}">`;

            tmp += `<span class="card-title">${d.date}</span>
                        </div>
                        <div clalet tmps="card-content red-text text-lighten-2">
                            <p class="grey-text text-darken-2">
                                light: ${d.sensors.light}<br>
                                temperature: ${d.sensors.temp}<br>
                                noise: ${d.sensors.noise}<br>
                                humidity: ${d.sensors.hum}<br>
                                co: ${d.sensors.co}<br>
                                no2: ${d.sensors.no2}
                            </p>
                        </div>
                    </div>
                </div>`;

            grid.innerHTML += tmp;
        } );

        $('.materialboxed').materialbox();
        $( 'img.lazy' ).lazyload();
    } );
} );
</script>
