<footer class="page-footer deep-orange darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">The makers' beehives were made during a 4 days workshop at emlyon business school makers' lab, focusing on technology litteracy and social innovation around tools accessible to every users at makers' lab.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <!-- <li><a class="grey-text text-lighten-3" href="#!">Wikifab</a></li> -->
                    <li><a class="grey-text text-lighten-3" href="https://github.com/emlyon" target="blank">Github</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://smartcitizen.me/" target="blank">Smart Citizen</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://opensourcebeehives.com/" target="blank">Open Source Beehives</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            © 2017 emlyon business school makers'lab
            <a class="grey-text text-lighten-4 right" href="mailto:makerslab@em-lyon.com">makerslab@em-lyon.com</a>
        </div>
    </div>
</footer>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="static/assets/js/jquery.lazyload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.15/leaflet-providers.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="static/assets/js/main.js"></script>
