<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>Makers'Beehives by emlyon business school makers' lab</title>

<link rel="icon" type="image/png" href="static/assets/img/favicon.png" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<link href="static/assets/css/main.min.css" rel="stylesheet"/>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
