<div id="home">
    <img class="responsive-img" src="http://i.imgur.com/g8PpYHh.jpg">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l4">
                <div class="card hoverable">
                    <h3>Innovating</h3>
                    <div class="divider"></div>
                    <p>Makers'&nbsp;bootcamps inscribe open innovations in reality by putting them within reach of all. They are a means of empowerment and discovery of innovative technologies through practice and manufacturing of impating products or services capable of socially changing our working and living spaces.</p>
                </div>
            </div>

            <div class="col s12 m12 l4">
                <div class="card hoverable">
                    <h3>Learning</h3>
                    <div class="divider"></div>
                    <p>Offering four intensive days of learning programming, 2D & 3D design, electronics and digital manufacturing, makers'&nbsp;bootcamps enable understanding of new technologies by DIY and DIWO methodologies. Through this training, participants become capable of thinking and making in complex and uncertain environments.</p>
                </div>
            </div>

            <div class="col s12 m12 l4">
                <div class="card hoverable">
                    <h3>Team building</h3>
                    <div class="divider"></div>
                    <p>The immersive experience of makers'&nbsp;bootcamp allows participants to learn how to work together in a project mode. By being challenged in group on their personal skills through a concrete project inscribed in a short time, they become agile, able to respond to constraints by making and doing together.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="map"></div>

    <script>
        window.addEventListener( 'load', () => {
            $( '.parallax' ).parallax();

            document.querySelector( '#map' ).style.height = ~~( window.innerHeight / 2 ) + 'px';

            var map = L.map( 'map', { scrollWheelZoom: false } ).setView( [ 45.7865, 4.764 ], 17 );

            L.tileLayer( 'http://{s}.tiles.wmflabs.org/hikebike/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            } ).addTo( map );

            var marker = L.marker( [ 45.78715, 4.7637 ] ).addTo( map );
        } );
    </script>
</div>
