<nav class="nav-extended z-depth-4 deep-orange darken-2">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Makers'beehives</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect" href="http://makerslab.em-lyon.com" target="blank"><span>em</span>lyon business school<span>'s makers'lab</span></a></li>
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active waves-effect" href="#home">Home</a></li>
            <li class="tab"><a class="waves-effect" href="#beehive0">Beehive #0</a></li>
            <li class="tab"><a class="waves-effect" href="#beehive1">Beehive #1</a></li>
            <li class="tab"><a class="waves-effect" href="#beehive2">Beehive #2</a></li>
            <li class="tab"><a class="waves-effect" href="#beehive3">Beehive #3</a></li>
        </ul>
    </div>
</nav>
