<nav class="nav-extended z-depth-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Makers'beehives</a>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="#beehive0">Beehive #0</a></li>
            <li class="tab"><a href="#beehive1">Beehive #1</a></li>
            <li class="tab"><a href="#beehive2">Beehive #2</a></li>
            <li class="tab"><a href="#beehive3">Beehive #3</a></li>
        </ul>
    </div>
</nav>
