<nav class="nav-extended z-depth-4 deep-orange darken-2">
    <div class="nav-wrapper grey lighten-5">
        <a href="http://makerslab.em-lyon.com/" target="blank" class="brand-logo"><img src="static/assets/img/MKRSLAB_logo_corp.png" alt=""></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect" href="#">Makers' beehives</a></li>
        </ul>
    </div>

    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active waves-effect" href="#home">Home</a></li>
            <li class="tab"><a class="waves-effect" href="#beehive0">Beehive #0</a></li>
            <li class="tab"><a class="waves-effect" href="#beehive1">Beehive #1</a></li>
            <li class="tab"><a class="waves-effect" href="#beehive2">Beehive #2</a></li>
            <li class="tab"><a class="waves-effect" href="#beehive3">Beehive #3</a></li>
        </ul>
    </div>
</nav>
