a.brand-logo{
    margin-left: 15px;
    font-weight: 500;
}

.beehive{
    margin-top: 20px;
    padding: 0px 20px 0px 20px;

    .last-update{
        margin-top: -25px;
        margin-left: 3px;
    }

    svg{
        background-color: #ee6e73
    }
}
