<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.15/leaflet-providers.min.js"
    ></script>

    <script defer>
      window.addEventListener('load', () => {
        document.querySelector('#map').style.height = `${(window.innerHeight / 2) | 0}px`;

        var beehiveIcon = L.icon({
          iconUrl: '../img/icon-beehive-map.png',
          iconSize:     [50, 100], // size of the icon
          shadowSize:   [50, 134], // size of the shadow
          iconAnchor:   [25, 100], // point of the icon which will correspond to marker's location
          shadowAnchor: [4, 62],  // the same for the shadow
          popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
      });
    
        const map = L.map('map', { scrollWheelZoom: false }).setView([45.7865, 4.764], 3);
        L.tileLayer(
          'https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}',
          {
            attribution:
              'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
          }

        ).addTo(map);

        L.marker([45.78715, 4.7637], {icon: beehiveIcon}).addTo(map);
        
        beehiveIcon.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
      
      });
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script defer src="/js/index.js"></script>
    <script defer src="/js/chart.js"></script>
  </head>

  <body>
    <%- `
    <script>
      const SENSORS_INFO = ${JSON.stringify(SENSORS_INFO)};
      const beehivesData = ${JSON.stringify(beehivesData)};
    </script>
    ` %>
    <%- include('partials/navbar.ejs') %>
    <!--landing area -------------------------------------------->
    <div id="home" class="bg">
      <!-- <div class="blob-bg-2 bg-red-gradient"></div>
      <div class="blob-bg-1 bg-gold-gradient"></div>-->
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l6">
            <div class="card z-depth-3">
              <h1>BOOTCAMP BEEHIVES</h1>
              <p>
                Découvrez les bases du code et de la fabrication numérique et apprenez à prototyper vos projets
                rapidement. Les bootcamps sont des expériences immersives permettant de découvrir et de s'approprier les
                outils et technologies disponibles dans les makers'labs.
              </p>
              <div class="row" style="margin-left: 4px">
                <div class="col s12 m12 l6 red-color" style="border-left: 4px solid #e2001a">
                  Mettez en œuvrel’hybridation des compétences
                </div>
                <div class="col s12 m12 l6">
                  <a href="#chartsDashBoard"><button class="white-color">back to bees’ness 🐝</button></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l6">
            <div class="card z-depth-3">
              <img src="../img/beehive-white-stroke.png" style="width: 70%; margin: 2% 30%" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!--end of container-->

      <!--White band -------------------------------------------->
      <div class="row white-band">
        <div class="col s12 m12 l3">
          <div class="row">
            <div class="col s12 m12 l3">
              <img src="../img/calendar.png" class="icon" alt="" />
            </div>
            <div class="col s12 m12 l9">
              <b>4 jours</b><br />
              intenses
            </div>
          </div>
        </div>
        <div class="col s12 m12 l3">
          <div class="row">
            <div class="col s12 m12 l3">
              <img src="../img/people.png" class="icon" alt="" />
            </div>
            <div class="col s12 m12 l9">
              <b>3</b><br />
              thématiques
            </div>
          </div>
        </div>
        <div class="col s12 m12 l3">
          <div class="row">
            <div class="col s12 m12 l3">
              <img src="../img/objet-connecte.png " class="icon" alt="" />
            </div>
            <div class="col s12 m12 l9"><b>1</b> <br />objet connecté</div>
          </div>
        </div>
      </div>
      <!--Video area -------------------------------------------->
      <div class="container" style="padding: 5% 0">
        <div class="row">
          <div class="col s12 m12 l6">
            <div>
              <iframe style="border-radius:1em"
                width="100%"
                height="300px"
                src="https://www.youtube-nocookie.com/embed/sJaHXrew7a8?controls=0"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <div class="col s12 m12 l6 white-text">
            <h6>Comment ça se passe</h6>
            <h2>4 jours intensifs pour découvrir <b>le bootcamp IoT et biodiversité</b></h2>
            <h4>Le bootcamp est découpé en 3 workshops :</h4>
            <h5>
              <span><b>Electronique : </b>les bases de l'IoT avec Arduino</span><br />
              <span><b>3D design : </b>la conception 3D avec TinkerCad</span><br />
              <span><b>Web coding :</b> coder et mettre en ligne vos projets connectés</span><br />
            </h5>
          </div>
        </div>
      </div>
      <!--end of container-->

      <!--Dark band -------------------------------------------->
      <div class="row dark-band white-color bg-red-gradient">
        <div class="col s12 m12 l6 glass-effect">
          <h6>Expérience projet</h6>
          <h2>Apprendre en faisant</h2>
          <h5>
            Faire exister une innovation dans son environnement. Mettre des technologies au service de l’équilibre entre
            l’homme et la nature.
          </h5>
        </div>
        <div class="col s12 m12 l6">
          <!--<img class="img-100" src="../img/map.png" alt="" />-->
          <div id="map" class=""></div>
        </div>
      </div>

      <!--Dashboard area -------------------------------------------->
      <div class="container" id="chartsDashBoard">
        <div class="row">
          <div class="col s12 m12 l12 text-center" style="padding: 20% 25% 2% 25%">
            <h2 class="text-center">Un œil sur les données</h2>
            Offering four intensive days of learning programming, 2D & 3D design, electronics and digital manufacturing,
            makers' bootcamps enable understanding of new technologies by DIY and DIWO methodologies. Through this
            training, participants become capable of thinking and making in complex and uncertain environments.
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l6">
            <div class="bee1Chart"></div>
            <button class="white-color btn-right">Voir plus</button>
          </div>
          <div class="col s12 m12 l6">
            <div class="bee2Chart"></div>
            <button class="white-color btn-right">Voir plus</button>
          </div>
        </div>
      </div>
      <!--end of container-->
      <!--Dashboard area -------------------------------------------->
      <div class="container bg-2 white-color text-center">
        <div class="row">
          <div class="col s12 m12 l12">
            <h6>04/07/23</h6>
            <h2 class="text-center">
              Makers lab<br />
              bootcamp
            </h2>
            <br />
            makers' beehives are the result of a 4 days workshop at emlyon business school makers' lab, <br />
            focusing on technology litteracy and social innovation around tools accessible to every users at makers'
            lab.
          </div>
          <div class="col s12 m12 l12">
            <button class="white-color" style="margin: 5% auto; border-radius: 100px">back to bees’ness 🐝</button>
          </div>
        </div>
      </div>
      <!--end of container-->

    </div>
    <!-- end of home -->

    <%- include('partials/footer.ejs') %>
  </body>
</html>
