nav{
    .nav-wrapper{
        li{
            color: #e2001a;
            a{
                padding-left: 0;
                color: #e2001a;
            }
        }
    }

    a.brand-logo{
        margin-left: 15px;
        font-weight: 500;

        img{
            margin-top: 12px;
            height: 40px;
        }
    }

    .right{
        a{
            font-weight: 500;
        }

        span{
            font-weight: 300;
        }
    }

    .nav-content{
        li{
            display: inline-block;
            text-align: center;
            line-height: 48px;
            height: 48px;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
        }
    }
}

#home{
    .jumbo{
        min-height: 85vh;
        background: url(https://i.imgur.com/g8PpYHh.jpg) no-repeat center center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .card{
        margin-top: 30px;
        padding: 20px;

        h3{
            margin-top: -5px;
        }
    }

    .video-container{
        margin: 20px auto;
    }

    #map{
        height: 60vh !important;
    }
}

#content{
    background:white;

    #preload{
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        .progress{
            background-color:rgba(255,0,0,0.2);

            .indeterminate{
                background-color:#e2001a;
            }
        }
    }
}

.beehive{
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 20px 0px 20px;

    .last-update{
        margin-top: -25px;
        margin-left: 3px;
    }

    div>.gui {
        background-color: #bdbdbd !important;
        margin-bottom: 10px;
    }

    div>.gui.darken-2 {
        background-color: #e2001a !important;
    }

    img{
        min-height: 1px;
    }

    p{
        margin-left: 5px;
    }
}

.deep-orange.darken-2 {
    background-color: #e2001a !important;
}
