.home{
    overflow: hidden;
    background: radial-gradient(73.4% 100.98% at 95.54% 95.05%, rgb(255 0 0) 0%, rgb(255 255 255 / 34%) 100%), linear-gradient(197.37deg, #ffffff -0.38%, rgba(255, 240, 164, 0) 101.89%), radial-gradient(58.85% 73.83% at 9.82% 3.13%, rgb(255 255 255) 0%, rgb(255 255 255) 52.16%, rgba(62, 246, 246, 0) 100%), linear-gradient(117.39deg, #ffffff 3.91%, #ff0000 37.48%, rgba(246, 62, 106, 0) 73.98%), linear-gradient(306.53deg, #ff0000 19.83%, rgb(255 255 255) 97.33%);
}
.container {
    max-width:none;
}
#content{
    padding: 2em;
}
.white-color{
    color:#ffffff
}
.red-color{
    color:#E2001A
}
.gold-color{
    color:#D4A94E
}

.grey-color{
    color:#2F2F2F
}
.white-text{
    color:white;
}
h2{
    margin: 0;
    font-size: 36px;
    //font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}
h4{
    text-transform:uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin:5px;
}
h5{
    margin: 5px 0;
    text-transform:uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

h6{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.text-center{
    text-align: center!important;
}
.z-depth-4 {
box-shadow:none!important;
border-bottom:0.5px solid grey;
}
.grey.lighten-5 {
    //background-color: transparent!important;
}
.white-band{
background-color:white;
height:100px;
padding: 0 11%;
display: flex;
align-items: center;
}
.white-band .row{
display: flex;
align-items: center;
margin:0;   
}
.white-band .col{
    text-transform:uppercase;
}
.white-band b{
    font-size: large;
}

.dark-band{
    background-color:#2F2F2F;
    padding: 10% 11%;
    display: flex;
    align-items: center;    
}
.img-100{
width:100%;
background: black;

}
.card{
    background-color: #ffffff00;
    box-shadow: none;
}

.blob-bg-1, .blob-bg-2, .blob-bg-3{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-gold-gradient{
    background: radial-gradient(49.19% 88.28% at 72.99% 113.54%, #E2001A 0%, rgb(255 255 255 / 17%) 59.78%, rgba(93, 227, 236, 0) 100%), linear-gradient(54.57deg,#D4A94E 8.59%, #D4A94E 80.49%), radial-gradient(118.75% 118.75% at 96.65% 74.22%, #D4A94E 0%, rgba(48, 158, 230, 0) 73.91%), radial-gradient(114.51% 155.86% at 9.82% 10.94%, #e2001a52 0%, rgb(255 0 0 / 15%) 61.98%, rgb(255 0 0 / 82%) 100%, #F2F5FA);
    background-blend-mode: hard-light,darken,normal,normal,normal,normal; filter: blur(67px);
}
.bg-red-gradient{
   background: radial-gradient(50% 100% at -20% 120%, rgb(255 0 0) 0%, rgb(58, 58, 58) 100%);

}
.bg-dark-gradient{
background: rgb(47,47,47);
background: radial-gradient(circle, rgba(47,47,47,1) 0%, rgba(47,47,47,0) 50%);
}

.bg{
    background-image: url(../img/background.png);
    background-size: 100%;
    background-repeat:no-repeat;
}
.bg-2{
    display: flex;
    align-items: center;
    background-image: url(../img/background-2.png);
    width: 100%!important;
    height: 800px;
    background-size: 100%;
    padding: 5em;
}
.deep-orange.darken-2 {
}
.nav-wrapper {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
nav ul a {
    color: #000000;
}
nav .nav-content li {
    text-transform: initial;
}

.nav-content{
    display:inline-block;
}
nav .brand-logo {
    position: relative;
}

nav .menu {
margin-left: 30px;
}

nav .menu ul li {  
    margin-right: 40px;
}
nav .menu ul li a{
    color:#000000;
    text-transform:uppercase;
}
/* Button */
button{
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;

width: 221px;
height: 56px;

background: #E2001A;
border-radius: 12px;
border:none;
box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.btn-right{
    width:auto; 
    float:right;
}
button:focus {
    background-color: hsla(0, 0%, 0%, 0);
}
button:hover {
    background-color: #000000;
}
.icon{
width:100%;

}

@media only screen and (min-width: 993px){
    .container {
        width: 80%;
    }
}


/* CHARTS */

