<footer class="page-footer deep-orange darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">
          makers' beehives are the result of a 4 days workshop at emlyon business school makers' lab, focusing on
          technology litteracy and social innovation around tools accessible to every users at makers' lab.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://makerslab.em-lyon.com">makers' lab</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/emlyon">github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/makerslab_">twitter</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      © 2019 emlyon business school makers'lab
      <a class="grey-text text-lighten-4 right" href="mailto:makerslab@em-lyon.com">makerslab@em-lyon.com</a>
    </div>
  </div>
</footer>
