<footer class="page-footer deep-orange darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">À propos</h5>
        <p class="grey-text text-lighten-4">
         Pour plus d'information sur les différents programmes pédagogiques du makers' lab rendez-vous sur <a href="http://makerslab.em-lyon.com/" style="color:white; text-decoration:underline;">http://makerslab.em-lyon.com/</a></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Liens</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://makerslab.em-lyon.com">makers' lab</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/emlyon">github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/makerslab_">twitter</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      © 2023 emlyon business school makers'lab
      <a class="grey-text text-lighten-4 right" href="mailto:makerslab@em-lyon.com">makerslab@em-lyon.com</a>
    </div>
  </div>
</footer>
</script>
