<nav class="nav-extended z-depth-4 deep-orange darken-2">
  <div class="nav-wrapper grey lighten-5">
    <div class="nav-content">
      <a href="/" target="blank" class="brand-logo">
        <image src="http://makerslab.em-lyon.com/media/logo.png" />
      </a>
    </div>
    <div class="nav-content menu">
      <ul class="tabs tabs-transparent">
        <li><a class="active waves-effect" href="/">Home</a></li>
        <li><a class="waves-effect" href="/beehives/bee1">Beehive #1</a></li>
        <li><a class="waves-effect" href="/beehives/bee2">Beehive #2</a></li>
        <li><a class="waves-effect" href="/beehives/bee3">Beehive #3</a></li>
        <li><a class="waves-effect" href="/beehives/bee4">Beehive #4</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="right hide-on-med-and-down">
        <li>
          <span>makers' beehives by </span>
          <a class="waves-effect" href="http://makerslab.em-lyon.com">makers' lab</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
